body {
    background-color: #ededed;
}

.toc {
    background-color: rgba(0,0,0,.02);
    backdrop-filter: blur(1px);
}

.toc summary {
    padding: 0;
}

.toc p {
  margin: 0;
}

.toc ul, .toc ol {
    margin: 0;
    margin-top: 8px;
    padding-inline-start: 16px;
}
